
/*Global css*/
* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
  font-size: 14px;
  color:#202020;
  font-family: 'open_sansregular';
  cursor: default;
  background-color: #f6f8fb;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display:block;
}
ol, ul {
  list-style: none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
input[type="number"]{
  -moz-appearance: textfield;
}

/* Chrome/Opera/Safari */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder  {
  color: #cccccc;
}
/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}
/* IE 10+ */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
  color: #cccccc;
}
/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #cccccc;
}

img {
  max-width: 100%;
  height: auto;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    outline: none;
    outline-width: 0;
}

.error {
 color: red !important;
}

.global-error input, .global-error textarea, .global-error select, .global-error .SumoSelect, 
.global-error .Select-control {
  border: solid 1px #e53935 !important;
}
.global-error p {
  font-size: 12px;
  text-align: left;
  color: #666666;
  padding: 0;
  margin-bottom: 10px !important;
  position: unset !important;
}
.global-error > p > span {
  font-size: 12px !important;
  color: #e53935 !important;
  text-align: left !important;
  display: block !important;
}

.disabled-element{ pointer-events: none; }
.disabled-btn{
  cursor: no-drop;
  opacity: 0.6;
}

.upload-document.global-error > p{ border-bottom: 0; float: none; display: block;}
.upload-document.global-error > p > span{
  margin-top: -20px;
}
.error-div > span{
  color: #e53935;
}
select::-ms-expand {
    display: none;
}
select ::after{
  background: url(../images/arrow-down.png) no-repeat center center;
  border-left: 1px solid #ccc;
  border-right: 0;
  padding: 0 15px;
  transform: rotate(0deg);
  transition: transform 0s linear;
}
.clear-both {
  clear: both;
  margin: 0;
  padding: 0;
}
.pd {
  padding-left: 0;
  padding-right: 0;
}
.relative{ position: relative; }
.absolute{ position: absolute; }
.fixed{ position: fixed; }

/*input:hover , select:hover, textarea:hover,*/
input:focus , select:focus, textarea:focus,
input:active , select:active, textarea:active
{
  border: solid 1px #3270b2 !important;
  box-shadow: none;
}

.SumoSelect.open >.CaptionCont,
.SumoSelect:focus>.CaptionCont{
 border: solid 1px #3270b2 !important;
 box-shadow: none;
}

.SumoSelect:hover >.CaptionCont{
  box-shadow: none;
  border-color: #ccc;
}
.fade-layer {
  /* display: none; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.23);
}
/*---------------------- helper classes -------------------------*/

.d-block{ display: block; }
.d-none{ display: none; }
.d-inline{ display: inline; }
.d-inline-block{ display: inline-block; }
.v-visible{ visibility: visible; }
.v-hidden{ visibility: hidden; }

.text-center{ text-align: center; }
.text-left{ text-align: left !important; }
.text-right{ text-align: right; }

.v-middle{ vertical-align: middle; vertical-align: -webkit-baseline-middle; }
.v-top{ vertical-align: top; }
.v-bottom{ vertical-align: bottom; }
.v-super{ vertical-align: super; }
.v-sub{ vertical-align: sub; }
.text-top{ vertical-align: text-top; }
.text-bottom{ vertical-align: text-bottom; }
.align-center{ display: flex; align-items: center; }

.max-h-auto{ max-height: none !important; }
.max-w-auto{ max-width: none !important; }
.separator{ border-bottom: 1px solid #e1e1e1; }
.vl-saperator{ border-left: 1px solid #d5dce4; }
.vr-saperator{ border-right: 1px solid #d5dce4; }

.txt-transform-none{ text-transform: none !important; }
.txt-transform-caps{ text-transform: capitalize !important; }
.txt-transform-upper{ text-transform: uppercase !important; }
.txt-transform-lower{ text-transform: lowercase !important; }

.m-0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5 !important;
}
.m-10 {
  margin: 10 !important;
}
.m-15 {
  margin: 15 !important;
}
.m-20 {
  margin: 20 !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px!important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-0{ margin-bottom: 0 !important; }
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.p-0{ padding: 0 !important; }
.p-5{ padding: 5px !important; }
.p-10{ padding: 10px !important; }
.p-15{ padding: 15px !important; }

.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-45 {
  padding-left: 45px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-70{ padding-right: 70px; }
.pt-60{ padding-top: 60px; }

.mr-1p{ margin-right: 1%; }
.mr-2p{ margin-right: 2%; }
.mr-3p{ margin-right: 3%; }
.mr-4p{ margin-right: 4%; }
.mr-5p{ margin-right: 5%; }

.ml-1p{ margin-left: 1%; }
.ml-2p{ margin-left: 2%; }
.ml-3p{ margin-left: 3%; }
.ml-4p{ margin-left: 4%; }
.ml-5p{ margin-left: 5%; }

/*================================  Non-Mobile First Method  ======================*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1199px) {
    .hidden-lg-down{ display: none; }
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 991px) {
    .hidden-md-down{ display: none; }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 767px) {
    .hidden-sm-down{ display: none; }
  }

  @media only screen and (max-width : 479px) {
    .hidden-xs-down{ display: none; }
  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

  }


/*=============================  Mobile First Method  ================================*/

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
    /*.hidden-xs-up{ display: none; }*/
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .hidden-xs-up{ display: none; }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .hidden-sm-up{ display: none; }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .hidden-lg-up{ display: none; }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
=======
/*---------------------- helper classes -------------------------*/
