
.select2-container--bootstrap .select2-selection--single{
  max-width: 100%;
  height: 40px;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  border: solid 1px #d4d9e2;
}
.select2-container--bootstrap .select2-selection--single:focus,
.select2-container--bootstrap .select2-selection--single:active{
  border: solid 1px #3270b2 !important;
}
.select2-container--bootstrap .select2-results > .select2-results__options{ overflow: hidden; }
.select2-results__option{
  border-bottom: 1px solid #d4d9e2;
  margin: 0 5px;
}
.select2-results__option:first-child{
  margin: 0;
  padding: 6px 11px;
}

.select2-results__option:hover{ margin: 0 -4px; padding: 6px 15px; }

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
  background: url(../images/arrow-down.png) no-repeat center center;
  width: 25px;
  transform: rotate(0deg);
  transition: transform 0s linear;
  border-left: 1px solid #d4d9e2;
  border-right: 0;
  margin: 10px 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{
  border: 0;
}

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow{
  transform: rotate(180deg);
  transition: transform 0s linear;
  border-right: 1px solid #d4d9e2;
  border-left: 0;
}

.select2-container.select2-container--bootstrap.select2-container--open{
  z-index: 10;
}

/*------------- pmd select css above ---------------------*/

/*------------- pmd radio btn css below -----------------------*/

.card .radio-inline.pmd-radio { padding-left: 0; }

.card input[type=number]::-webkit-inner-spin-button, 
.card input[type=number]::-webkit-outer-spin-button  { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.card .group-radio{
 /* padding: 34px 15px 0;*/
  font-size: 14px;
  text-align: left;
  color: #666666;
}
.practice-area-card.card .group-radio{
 /* padding: 34px 15px 0;*/
  font-size: 14px;
  text-align: left;
  color: #666666;
}

.group-radio label span{ font-weight: normal; }

.pmd-radio>span.pmd-radio-label {
  margin-right: 5px;
}
.practice-area-card.card .group-radio > label.pmd-radio > span{
  font-size: 14px;
  text-align: left;
  color: #666666;
  font-weight: normal;
  text-transform: capitalize;
}

.practice-area-card.card label:last-child{ margin: 0 0 0 5px; }

.card .pmd-radio>span.pmd-radio-label:before{
  top: 0px;
  border: 2px solid #3270b2;
}

.card .pmd-radio>span.pmd-radio-label:after{
  top: 10px;
  background: #3270b2;
}

.practice-area-card.card .pmd-radio>span.pmd-radio-label:before{
  top: 0px;
  border: 2px solid #3270b2;
}

.practice-area-card.card .pmd-radio>span.pmd-radio-label:after{
  top: 10px;
  background: #3270b2;
}
.radio-inline.pmd-radio {
  margin: 0;
}


/*------------- pmd radio btn css above -----------------------*/

/*------------------- add more button ------------*/

a.add-more, a.delete-more {
  font-size: 16px;
  color: #666666;
  padding: 0 15px;
  width: 136px;
  float: left;
  cursor: pointer;
  margin-bottom: 20px;
}
a.delete-more {
  padding-bottom: 15px;
  text-align: left;
}
a.add-more > img, a.delete-more > img { max-height: 22px; padding-right: 10px; margin: 0 0 3px 0;cursor:pointer; }

/*-------------------- sumo select css below ------------------*/

.SumoSelect{ display: block; width: 100%; }
.SumoSelect select{ display: none; }
.SumoSelect>p.CaptionCont{ 
  max-width: 100%;
  height: 40px;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  border: solid 1px #d4d9e2;
  text-align: left;
}
.SumoSelect.open>.optWrapper{ padding: 0 5px; }
.SumoSelect>.CaptionCont>span.placeholder{ 
  cursor: pointer; 
  font-style: normal;
  color: #555;
  font-size: 14px;
  line-height: 1.3;
}
.SumoSelect>.optWrapper.selall.multiple>p.select-all.partial{ display: none; }
.SumoSelect .select-all.partial>span i, 
.SumoSelect .select-all.selected>span i, 
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i{
  background-color: #3270b2;
  border: 1px solid #fff;
}
.SumoSelect>.optWrapper>.options li.opt:hover{
  background-color: #3270b2;
}
.SumoSelect>.optWrapper>.options li.opt label{ margin: 0; }
.SumoSelect>.optWrapper>.options li.opt:hover label{ color: #fff; margin: 0; }
.SumoSelect .CaptionCont.SelectBox label{ margin: 0; right: 3px; }
.SumoSelect>.CaptionCont>label>i{
  background: url(../images/arrow-down.png) no-repeat center center;
  border-left: 1px solid #ccc;
  border-right: 0;
  padding: 2px 15px;
  transform: rotate(0deg);
  transition: transform 0s linear;
}
.SumoSelect.open>.CaptionCont>label>i{
  transform: rotate(180deg);
  transition: transform 0s linear;
  border-right: 1px solid #ccc;
  border-left: 0;
  padding: 0 15px;
}
.react-select {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
}

.react-select-trigger {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 31px;
  padding: 6px 27px 6px 6px;
  font-size: 14px;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #d3d4d4;
  outline: 0;
  cursor: pointer;
  position: relative;
  background: {
    color: #fff;
    image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21px" height="21px" viewBox="0 0 21 21"><polygon points="10.5,12 7,8.5 14,8.5"/></svg>');
    repeat: no-repeat;
    position: calc(100% - 5px) center;
  }

  &, &:active {
    color: black;
  }

  &.react-select-enabled {
  }

  &.react-select-target-attached-top {
    border-radius: 0 0 3px 3px;
  }

  &.react-select-target-attached-bottom {
    border-radius: 3px 3px 0 0;
  }

  // truncate children with ellipsis
  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.react-select-trigger__option {
  user-select: none;

  & + & {
    margin-left: 6px;
  }

  .react-select-trigger--multiple & {
    padding: 0 3px;
    border-radius: 2px;
    background: #E6F9FF;
  }
}

.react-select-trigger__arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.react-select-menu {
  max-height: 180px;
  padding: 3px 0;
  border: 1px solid #e1e1e1;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 4px 0 rgba(218, 221, 222, 0.35);
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;

  .react-select-enabled & {
    pointer-events: auto;
  }

  .react-select-element-attached-top  & {
    margin-top: -1px;
    border-top: 0;
  }

  .react-select-element-attached-bottom  & {
    margin-top: 1px;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -2px 4px 0 rgba(218, 221, 222, 0.35);
  }
}

.react-select-header {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #F1F3F5;
  border-top: 1px solid #F1F3F5;
}

.react-select-btn {
  flex: 1;
}

.react-select-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.react-select-option {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
  text-indent: 4px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: #FBFBFB;
  }
}

.react-select-option__label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-select-optgroup {
  display: block;
  padding: 3px 0;
  cursor: default;
  border-top: 1px solid #F1F3F5;

  &:first-child {
    border: 0;
  }
}

.react-select-optgroup__title {
  display: block;
  padding: 8px 12px 6px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #909294;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#app {
  width: 300px;
  margin: 0 auto;
}

/*-------------------------- general css for all device width above--------------------*/
