
/*------------------- footer below----------------*/

footer{
  padding: 8px 0;
}
.footer-right > ul > li{
  line-height: 1.1;
}

/*-------------------------- general css for all device width above--------------------*/

/*-------------------------- responsive css begins below ------------------------------*/

  /* Small Devices, Tablets */
  @media only screen and (max-width : 767px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 479px) {

    .footer-container{
      width: 100%;
      margin: 0 auto;
    }

  }
/*-------------------------- responsive css ends here ------------------------------*/
