
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9bpsdw');
  src:  url('../fonts/icomoon.eot?9bpsdw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9bpsdw') format('truetype'),
    url('../fonts/icomoon.woff?9bpsdw') format('woff'),
    url('../fonts/icomoon.svg?9bpsdw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit-profile-mobile:before {
  content: "\e900";
  color: #fff;
}
.icon-error:before {
  content: "\e901";
}
.icon-job-briefcase-mobile:before {
  content: "\e902";
  color: #fff;
}
.icon-location-icon:before {
  content: "\e903";
  color: #3270b2;
}
.icon-message-mobile:before {
  content: "\e904";
  color: #fff;
}
.icon-ok .path1:before {
  content: "\e905";
  color: rgb(102, 102, 102);
}
.icon-ok .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(50, 112, 178);
  opacity: 0.2;
}
.icon-sign-out:before {
  content: "\e907";
  color: #999;
}
.icon-sign-out-mobile:before {
  content: "\e908";
  color: #fff;
}
.icon-subtract:before {
  content: "\e909";
  color: #d8d8d8;
}
.icon-upload-photo:before {
  content: "\e90a";
}
.icon-add:before {
  content: "\e90b";
  color: #d8d8d8;
}
.icon-change-password:before {
  content: "\e90c";
  color: #3270b2;
}
.icon-change-password-mobile:before {
  content: "\e90d";
  color: #fff;
}
.icon-edit-profile:before {
  content: "\e90e";
  color: #999;
}
