
.experience-page{
  background-color: #f6f8fb;
}

.mobile-page-heading{
  background: #fff;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #3270b2;
  position: relative;
}

.mobile-page-heading:before{  
  content:" ";
  background-image: url(../images/arrow-left@2x.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  top: 22px;
  height:15px; width: 20px;
}

.mobile-page-heading:after{
  content: " ";
  background-image: url(../images/arrow-right@2x.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 22px;
  height:15px; width: 20px;
}

/*----------------- page heading and para below-------------------*/
.content-wrapper{ 
  width: 75%;
  margin-top: 75px;
  padding: 20px 0 50px 0;
}

.content-wrapper > h3{
  font-size: 20px;
  color: #2c2c2d;
  margin: 20px auto;
  text-align: center;
}

.content-wrapper > p{
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #666666;
}

/*--------------- form / cards below ---------------------------*/

.card{
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 rgba(187, 187, 187, 0.5);
  padding: 20px 55px 40px;
  margin-bottom: 20px;
}

.card .form-group{ margin-bottom: 20px; }

.card > h4{
  font-size: 18px;
  text-align: left;
  color: #666666;
  margin-bottom: 30px;
}

.card label{
  font-size: 12px;
  font-family: 'open_sanssemibold';
  letter-spacing: 1px;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card input, .card select {
  height: 40px;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  border: solid 1px #d4d9e2;
}

.card input.disabled{
  background-color: #efefef;
  border: 0px;
}

.card select{
  background-image: url(../images/arrow-down-fade-gray.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 10px;
  position: relative;
}

/*--------------- propeller simple select css below -------------*/
.select2-container--bootstrap .select2-selection--single{
  max-width: 100%;
  height: 40px;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  border: solid 1px #d4d9e2;
}

.select2-container--bootstrap .select2-selection--single:hover,
.select2-container--bootstrap .select2-selection--single:focus,
.select2-container--bootstrap .select2-selection--single:active{
  border: solid 1px #3270b2 !important;
}

.select2-container--bootstrap .select2-results > .select2-results__options{ overflow: hidden; }

.select2-results__option{
  border-bottom: 1px solid #d4d9e2;
  margin: 0 5px;
}

.select2-results__option:first-child{
  margin: 0;
  padding: 6px 11px;
}

.select2-results__option:hover,
.select2-results__option:active,
.select2-results__option:focus{ 
  margin: 0 -4px; padding: 6px 15px; 
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
  background: url(../images/arrow-down.png) no-repeat center center;
  width: 25px;
  transform: rotate(0deg);
  transition: transform 0s linear;
  border-left: 1px solid #d4d9e2;
  border-right: 0;
  margin: 10px 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{
  border: 0;
}

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow{
  transform: rotate(180deg);
  transition: transform 0s linear;
  border-right: 1px solid #d4d9e2;
  border-left: 0;
}

/*-------------- propeller simple select css below -----------------*/
.card input[type=number]::-webkit-inner-spin-button, 
.card input[type=number]::-webkit-outer-spin-button  { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.card textarea{
  resize: none;
  font-size: 13px;
  text-align: left;
  color: #333333;
  box-shadow: none;
  border-radius: 0;
  min-height: 80px;
  border: solid 1px #d4d9e2;
}

.card .datepicker{
  height: 40px;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  border: solid 1px #d4d9e2;
}

.practice-area-card.card label{ margin: 0 0 5px; }

.practice-area-card.card .group-radio{
  padding: 34px 15px 0;
  font-size: 14px;
  text-align: left;
  color: #666666;
}

.group-radio label span{ font-weight: normal; }

.practice-area-card.card .group-radio > label.pmd-radio > span{
  font-size: 14px;
  text-align: left;
  color: #666666;
  font-weight: normal;
  text-transform: capitalize;
}

.practice-area-card.card label > span.pmd-radio-label{ margin: 4px 0 0 0; }

.practice-area-card.card label:last-child{ margin: 0 0 5px 5px; }

.practice-area-card.card .pmd-radio>span.pmd-radio-label:before{
  top: 0px;
  border: 2px solid #3270b2;
}

.practice-area-card.card .pmd-radio>span.pmd-radio-label:after{
  top: 10px;
  background: #3270b2;
}

.previouse-btn{
  font-size: 16px;
  text-align: left;
  color: #3270b2;
  background-color: transparent;
  text-transform: capitalize;
  padding: 10px 24px;
  background-image: url(../images/arrow-left@2x.png);
  background-repeat: no-repeat;
  background-position: 1px;
}

.nxt-btn{
  width: 110px;
  height: 46px;
  background-color: #3270b2;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.btn:hover, .btn:focus{ color: #fff; }
.previouse-btn:hover, .previouse-btn:focus { color: #3270b2; }


/*------------------- add more button ------------*/

a.add-more{
  font-size: 16px;
  text-align: left;
  color: #666666;
}

a.add-more > img{ padding-right: 10px; margin: 0 0 3px 0; }


/*-------------------------- general css for all device width above--------------------*/

/*-------------------------- responsive css begins below ------------------------------*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*================================  Non-Mobile First Method  ======================*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1199px) {
      
      .practice-area-card.card .group-radio {
        padding: 21px 15px 0;
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 991px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {

      .content-wrapper {
        width: 85%;
      }

      .navbar .navbar-right-wraper > ul > li {
        display: inline-block;
        padding: 5px 0px;
      }

      .practice-area-card.card .group-radio {
        padding: 0px 15px 0;
      }

      .card {
        padding: 20px;
      }

      .card > h4{ font-weight: bold; }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 479px) {
      
      .content-wrapper {
        width: 100%;
      }
      .content-wrapper > h3 {
        font-size: 18px;
      }
      .content-wrapper > p {
        padding: 0 15px;
        font-size: 12px;
      }
      .nxt-prev-btns{ padding: 0 15px; }

      .mobile-page-heading{
        border-left: 0;
        border-right: 0;
        font-size: 16px;
      }
      
    }


  

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
    



    /*=============================  Mobile First Method  ================================*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
/*-------------------------- responsive css ends here ------------------------------*/