
.steps-widget{ position: relative; padding: 0px 0 40px; }
.steps-widget .liner{
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 34%;
  z-index: 1;
}
.steps-widget .nav-tabs{ border:0; }
.steps-widget .nav-tabs > li { 
  width: 20%; 
  font-size: 15px;
  text-align: center;
  color: #666666;
}
.steps-widget .nav-tabs > li>span{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 16px auto 0;
  width: 100%;
  max-height: 30px;
}

.steps-widget .nav-tabs > li.active> span:nth-of-type(2){
  border-bottom: 2px solid #3270b2;
  width: 20%;
  left: 40%;
  bottom: -10px;
}

.steps-widget .nav-tabs > li:first-child > span{
  padding: 0 0px;
}
.steps-widget .nav-tabs > li:first-child.active> span:nth-of-type(2){
  bottom: -25px;
}
.steps-widget .nav-tabs > li:last-child > span{
  padding: 0 0px;
}
.steps-widget .nav-tabs > li:last-child.active> span:nth-of-type(2){
  bottom: -17px;
}
.steps-widget .nav-tabs > li a {
  width: 15px;
  height: 15px;
  margin: 35px auto;
  border-radius: 100%;
  padding: 0;
  opacity: 1;
}
.steps-widget span.round-tabs {
  width: 15px;
  height: 15px;
  line-height: 15px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
  border: 2px solid #3270b2;
}
.steps-widget li span.round-tabs:before{
  /*content: " ";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #3270b2;
  border-radius: 50%;
  left: 2px;
  top: 2px;*/
}

.steps-widget li.active ~ li span.round-tabs:before {
  /*display: none;*/
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

.steps-widget li.fill span.round-tabs:before{
  content: " ";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #3270b2;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.steps-widget li.active ~ li.fill span.round-tabs:before {
  /*display: none;*/
}
/*-------------------------- responsive css begins below ------------------------------*/

    /*================================  Non-Mobile First Method  ======================*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1199px) {
      
      

    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 991px) {

      .steps-widget .nav-tabs > li { 
        font-size: 13px;
      }

      .steps-widget .nav-tabs ul > li:first-child > span{
        padding: 0 0px;
        max-height: 20px;
      }
      .steps-widget .nav-tabs ul > li:first-child.active > span:nth-of-type(2){
        bottom: -25px;
      }

    }
    
    @media only screen and (max-width : 832px){ 
      .steps-widget .nav-tabs > li:nth-of-type(3) >span{ max-height: 20px; }
      .steps-widget .nav-tabs > li:nth-of-type(3).active>span:nth-of-type(2){ bottom: -25px; }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
      .steps-widget{ display: none; }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 479px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {}